<nav class="navbar navbar-dark bg-dark navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" ng-href="/#!/home">PoaTek Challenge</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" ng-href="/#!/home">Home
                    <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" ng-href="/#!/transaction-list">Transaction List</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" ng-href="/#!/transaction-new">Add Transaction</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" ng-href="/#!/logoff">Logoff</a>
            </li>
        </ul>
        <span class="navbar-text">
            by Vinicius Santos
        </span>
    </div>
</nav>