<header>
    <div ng-include="'src/views/layout/navbar.html'"></div>
</header>
<main role="main" class="container">
    <div class="row">
        <div class="col-sm-12">
            <h3 class="mt-5">{{message.welcome}}</h3>
            <p>{{message.description}}</p>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-sm-12">
            <div class="card">
                <h5 class="card-header">
                    Last Transactions
                </h5>
                <div class="card-body">
                    <table class="table table-bordered">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">
                                    <a ng-click="sortType = 'description'; sortReverse = !sortReverse" class="pointer">
                                        Description
                                        <span ng-show="sortType == 'description' && !sortReverse" class="fa fa-caret-up"></span>
                                        <span ng-show="sortType == 'description' && sortReverse" class="fa fa-caret-down"></span>
                                    </a>
                                </th>
                                <th scope="col">
                                    <a ng-click="sortType = 'amount'; sortReverse = !sortReverse" class="pointer">
                                        Amount
                                        <span ng-show="sortType == 'amount' && !sortReverse" class="fa fa-caret-up"></span>
                                        <span ng-show="sortType == 'amount' && sortReverse" class="fa fa-caret-down"></span>
                                    </a>
                                </th>
                                <th scope="col">
                                    <a ng-click="sortType = 'payment_type'; sortReverse = !sortReverse" class="pointer">
                                        Payment Type
                                        <span ng-show="sortType == 'payment_type' && !sortReverse" class="fa fa-caret-up"></span>
                                        <span ng-show="sortType == 'payment_type' && sortReverse" class="fa fa-caret-down"></span>
                                    </a>
                                </th>
                                <th scope="col">
                                    <a ng-click="sortType = 'date'; sortReverse = !sortReverse" class="pointer">
                                        Date
                                        <span ng-show="sortType == 'date' && !sortReverse" class="fa fa-caret-up"></span>
                                        <span ng-show="sortType == 'date' && sortReverse" class="fa fa-caret-down"></span>
                                    </a>
                                </th>
                            </tr>
                        </thead>
                        <tbody ng-show="show">
                            <tr ng-repeat="transaction in transactions | orderBy:sortType:sortReverse | filter:search track by $index">
                                <td>{{ transaction.description }} </td>
                                <td>{{ transaction.amount|currency:'$ ' }}</td>
                                <td>{{ transaction.payment_type == 1 ? 'Credit Card' : 'Money' }}</td>
                                <td>{{ transaction.date|date:'MM/dd/yy' }}</td>
                            </tr>
                            <tr>
                                <td>Total</td>
                                <td>{{ getTotal()|currency:'$ ' }}</td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                        <tbody ng-show="!show">
                            <tr>
                                <td colspan="4">{{ transactions }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</main>
<div ng-include="'src/views/layout/footer.html'"></div>